body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#paper{
    position: absolute;
    z-index:1;
}
.node{
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    z-index: 10;
    line-height: 50px;
    text-align: center;
    background: #fff;
}